:root {
    --dark-purple: #331436;
    --light-red: #CB4F57;
    --light-yellow-text: rgb(252, 244, 182);
    --light-yellow-bg: rgb(252, 244, 182, 50%);
    --dark-pink: #7A1745;

  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-width: 1440px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
    background-color: var(--dark-purple);
}

#logo {
    width: 50px;
    height: 50px;
}

.logo-text-wrapper {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 28px;
}

.red-btn {
    width: 240px;
    height: 48px;
    background-color: var(--light-red);
    color: var(--light-yellow-text);
    font-size: 16px;
    border-radius: 8px;
    border: none;
    line-height: 24px;
    cursor: pointer;
}

#sectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 496px;
    padding: 30px 170px;
    background-color: var(--dark-pink);
    color: white;
    
    text-align: center;
}

.leftItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    gap: 24px 0px;
    
}

#sectionOne img {
    width: 540px;
    height: 437px;
}

.title-text {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}


#sectionOne span {
    color: var(--light-yellow-text);
}

#sectionTwo {
    height: 792px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 170px;
    gap: 60px;
}

.upTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.purple-btn {
    width: 240px;
    height: 48px;
    background-color: var(--dark-purple);
    font-size: 16px;
    color: white;
    line-height: 24px;
    border-radius: 8px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    color: var(--dark-purple);
}

.card img {
    width: 340px;
    height: 340px;
}

.subtitle-card {
    font-size: 20px;
    font-weight: 500;
    margin-top: 4px;
}

.card-text-wrapper {

    padding: 12px;
}

#sectionThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 552px;
    padding: 60px 170px;
    gap: 60px;
    background-color: var(--light-yellow-bg);
    color: var(--dark-purple);
}

.top-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 24px;
    height: 168px;
}

.bottom-wrapper {
    display: flex;
    height: 204px;
    gap: 40px;
}

.circle-item {
    padding: 12px 0;
    width: 245px;
    height: 204px;
    text-align: center;

}

.icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--dark-purple);
    border-radius: 50%;
    margin: 0 auto;
   
}
.circle-item img {
    width: 48px;
    height: 48px;    
    
}

.icon-title {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 6px;
}

#sectionFour {
    display: flex;
    align-items: center;
    padding: 60px 170px;
    justify-content: space-between;
    height: 388px;
    gap: 60px;
    color: var(--dark-purple);
}

.subscription-container {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 96px;
    gap: 24px;
    
}

.subscription-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 520px;
    height: 268px;
    font-size: 14px;
}

.email-wrapper, .name-wrapper {
    height: 100px;
}

.subscription-form label {
    color: var(--dark-purple);
    font-weight: 500;
    line-height: 20px;
}
  
.subscription-form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 12px;
    line-height: 20px;
}
  
.subscription-form small {
    height: 16px;
    font-size: 12px;
    color: #888;
    line-height: 16px;
}

.subscription-form div {
    display: flex;
    flex-direction: column;
}


.error-one, .error-two {
    color: red;
    font-size: 12px;
    height: 20px;    
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding: 60px;
    gap: 60px;
    line-height: 28px;
    font-size: 20px;
    color: white;
    background-color: var(--dark-purple);
}

.icon-container {
    width: 136px;
    height: 36.46px;
    display: flex;
    justify-content: space-between;
}

.footer-text-container {
    display: flex;
    align-items: center;
    width: 786px;
    height: 100px;
    gap: 60px;

}

.icon-bg-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
}

.icon-bg-white img{
    width: 13px;
    height: 13px;
}