:root {
    --dark-purple: #331436;
    --light-red: #CB4F57;
    --light-yellow-text: rgb(252, 244, 182);
    --light-yellow-bg: rgb(252, 244, 182, 50%);
    --dark-pink: #7A1745;
    --transparent-white: #FFFFFF1A;
    --card-background: #F8F2FF;
    --light-purple: #47204b;
    --real-light-red: #da6068;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    width: 100%;
    max-height: 100vh;
    min-width: 1440px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;    
}


.title-text {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}

.purple-btn {
    width: 240px;
    height: 48px;
    background-color: var(--dark-purple);
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.purple-btn:hover {
    background-color: var(--light-purple);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
    background-color: var(--dark-purple);
}   

#logo {
    width: 50px;
    height: 50px;
}

.logo-text-wrapper {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 28px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 552px;
    height: 36px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: white;

}

ul li a {
    text-decoration: none;
    color: inherit; 
  }

ul li a:hover,
ul li a:focus,
ul li a:active {
  text-decoration: none;
  color: inherit; 
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 8px;
    color: var(--transparent-white);
    border: 0.5px solid rgba(255, 255, 255, 0.111);
    gap: 4px;
    border-radius: 6px;
}

.search-container img {
    width: 20px;
    height: 20px;
}

.search-container input {
    background-color: var(--dark-purple);
    color: white;
    border: none;
    font-size: 12px;

}

#sectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 170px;
    height: 746px;
    gap: 60px;
    font-weight: 500;
    background-color: #0000001A;

}

.to-do, .in-progress, .complete {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 626px;
    padding: 16px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: var(--dark-purple);
    background-color: white;
    border-radius: 8px;
    gap: 10px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 127px;
    padding: 10px;
    border: 1px solid var(--dark-purple);
    border-radius: 8px;
    gap: 10px;
    font-size: 10px;
    background-color: var(--card-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.card-middle {
    font-size: 12px;
    font-weight: 800;
}

.card-top, .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.high {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    background-color: #CB4F57;
    color: #7A1745;
    border: 1px solid #7A1745;
    border-radius: 8px;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    background-color: #EB9961;
    color: #CB4F57;
    border: 1px solid #CB4F57;
    border-radius: 8px;
}

.low{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    background-color: #FCF4B6;
    color: #EB9961;
    border: 1px solid #EB9961;
    border-radius: 8px;

}

.card-top .date {
    color: rgba(0, 0, 0, 0.5);

}

.card-bottom {
    width: 180px;
    height: 39px;
    padding: 7px 5px;
}
.card-bottom img {
    width: 20px;
    height: 20px;
}

.member-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    width: 133px;
    height: 25px;
}

.member {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    color: white;
    border-radius: 50%;
}

.purple {
    background-color: #801E8F;
}

.dark-blue {
    background-color: #2E4B83;
}

.pink {
    background-color: #D92B93;
}

.green {
    background-color: #1A712D;
}

.brown {
    background-color: #AF4A00;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding: 60px;
    gap: 60px;
    line-height: 28px;
    font-size: 20px;
    color: white;
    background-color: var(--dark-purple);
}

.icon-container {
    width: 136px;
    height: 36.46px;
    display: flex;
    justify-content: space-between;
}

.footer-text-container {
    display: flex;
    align-items: center;
    width: 786px;
    height: 100px;
    gap: 60px;

}

.icon-bg-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
}

.icon-bg-white img{
    width: 13px;
    height: 13px;
}